.about-photo {
    margin-right:20px; 
    border-radius: 10%;
    height: 208px;
    max-width: 400px;
    margin: 1.5em;
}

div.profile-photo {
    justify-content: center;
}

form.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    width: 400px;
    margin: 0 auto;
}

.contact-form p {
    display: flex;
    /* max-width: 500px; */
    flex-direction: column;
    width: 100%;
}

/* .contact-form label {
    float: left;
    clear: both;
}

.contact-form input {
    float: left;
    clear: both;
} */

.contact-form-container {
    /* width: 500px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form-container > * {
    /* padding: 1em; */
}

.contact-form-container hr {
    width: 100%;
}